.header {
    position: relative;
}
.header_top_menu {
    background-color: white;
    width: 100%;
    height: 56px;
}
.nav_list {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    @include flex-between;
}
.nav_item {
    width: 239px;
    height: 100%;
}
.logo {
    position: relative;
    top: 0;
    height: 100%;
}

.logo_icon {
    position: absolute;
    top: 0;
    left: 42.5px;
}

@media (max-width: 768px) {
    .logo_back {
        display: none;
    }
    .logo_icon {
        position: relative;
        left: 0;
    }
}
.nav_item a {
    @include flex-centr;
    @include regular-text;
    color: black;
    width: 100%;
    height: 100%;
    text-decoration: none;
    transition: 0.3s ease;
}
.nav_item a:hover {
    color: rgb(51, 175, 175);
    box-shadow: inset 0 0 5px 5px rgb(51, 175, 175);
}

.header_body {
    @include flex-centr;
    width: 100%;
    height: 518px;
    background: url(img/back-header.jpg) no-repeat 50% 50%;
    
    .intro {
        position: absolute;
        bottom: 0;
    }
    .header_body_content {
        width: 460px;
        height: 350px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width: 320px) {
    .nav_item {
        visibility: hidden;
        opacity: 0;
    }
    .burger_container {
        display: block;
        position: absolute;
        right: 20px;
    }
    .header_body {
        height: 389px;
        .header_body_content {
            width: 282px;
            height: 214px;
        }
    }
}
